@import "tailwindcss";

:root {
    scroll-behavior: smooth;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@layer base {
  :root {
    --cor-primaria: #005;
    --cor-secundaria: #ff0117;
    --cor-texto-principal: #000;
    --cor-texto-secundario: #fff;
    --cor-texto-destaque: #ffff28;
    --cor-link: #3198ff;
    --cor-fundo-body: #f0f8ff;
    --cor-fundo-primario: #0089;

    --font-family-sans: 'Roboto', sans-serif;

  }

  html {
    font-family: var(--font-family-sans);
  }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    width: 100vw;
    height: 100vh;
}

.dark-theme {
    @apply bg-gray-900 text-white;
}

.light-theme {
    @apply bg-white text-black;
}

.menu{
    @apply flex p-4 bg-blue-600 text-white w-[30%] h-12 justify-evenly items-center text-2xl rounded-2xl;   
    a {
        @apply block mr-4 no-underline text-white p-2 transition duration-350;
        &:hover {
            @apply bg-amber-50 text-blue-600 rounded-lg p-2;
        }
    }
}   
